<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} | strychine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link id="theme-stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/theme1.css') }}">
  {% if is_index %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
  {% endif %}
</head>
<body>
  <nav class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('blog') }}">Blog</a>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <div id="theme-selector" style="position: fixed; bottom: 10px; right: 10px;">
    <label for="theme-select">Choose Theme:</label>
    <select id="theme-select">
      <option value="theme1">theme 1</option>
      <option value="theme2">theme 2</option>
    </select>
  </div>
  <div class="footer">
    <p>
        strychine, 2025
    </p>
  </div>
</body>
</html>
