<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>{% block title %}{% endblock %} | strychnine</title>
    <link id="theme-stylesheet" rel="stylesheet" href="/static/css/black.css"> <!-- Default Theme -->
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script src="/static/js/theme.js" defer></script>
    {% block head %}{% endblock %}
    <style>
    {% block style %}
    {% endblock %}
    </style>
</head>
<body>
    <div class="background-pipes"></div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div id="flashpopup" class="popup">
                <div class="popup-content">
                    <span class="close">&times;</span>
                    <p>{{ message }}</p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
    
    <div id="theme-selector" style="position: fixed; bottom: 10px; right: 10px;z-index: 10;">
        <select id="theme-select">
            <option value="black">Black (Default)</option>
            <option value="cherry">Cherry Blossom</option>
            <option value="cherryb">Dark Blossom</option>
        </select>
    </div>
    
    <div style="text-align: center; color: #eee; position: fixed; bottom:0px;text-align: center;background:#1f1f1f;line-height: 0px;width:100%;">
        <p><small>strychnine 2025</small></p>
    </div>
</body>
</html>
