
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strychnine</title>
  <link id="theme-stylesheet" rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div class="background-pipes"></div>

  <div class="container">
    <div class="profile-header">
      <h1>Hi! I am known as...</h1>
      <p>Strychnine (and Water)</p>
    </div>

    <div class="profile-content">
      <div class="profile-section">
        <h2>I am:</h2>
        <ul class="tech-list">
          <li>Doing computer science</li>
          <li>Learning web development</li>
          <li>Learning game development</li>
          <li>Making spiderman comics</li>
        </ul>
        <span class="cursor"></span>
      </div>

      <div class="profile-section">
        <h2>Find me at :</h2>
        <div class="social-links">
          <a href="https://www.instagram.com/strychnine_and_water/" target="_blank" class="social-button instagram-button">[YouTube]</a>
          <a href="https://github.com/pratik1120" target="_blank" class="social-button github-button">[GitHub]</a>
        </div>
      </div>
    </div>
    <div class="profile-content">
      <div class="profile-section">
        <h2>Pages:</h2>
        <ul class="tech-list">
          <li><a href="/blog">Blog</a></li>
        </ul>
        <span class="cursor"></span>
      </div>
  </div>
</body>
</html>
