{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{%block body%}
{% if session.get('logged_in') %}
<div class="container">
    <h2>The <a href="/blog">blog</a> system is up and running.</h2>
    <p>I've left this page like this because I think the index page (this page) is yours.</p>
    <p>I say, go to <a href="//neocities.org/browse">neocities</a> and browse.</p>
    <p>Express your creativity here.</p>
    <p>Be as unique as possible, be as cool as possible.</p>
{% else %}
    <p><strong><a href="/login">Login</a> required</strong>.</p>
{% endif %}
  </div>

{%endblock%}